
.content{
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 81px;
  height: 500px;
}
.top_btns{
    display:flex;
   justify-content: center;
   gap:32px;
   width: 100%;
}
.contactform{
    display:flex;
   flex-direction:column;
     gap:20px
}

.form{
  display:flex;
  flex-direction:column;
  gap:20px;
  position: relative;
}
.inputdiv{
  position: relative;
}
.form input ,
.form textarea{
  width:100%;
 height: 40px;

 padding: 0px 8px;
}

.form label{

  background-color:white;
 position: absolute;
 top:-12px;
 left:15px;
}

.buttondiv{

  width:100%;
  position: relative;

}
.form Button{
  position:absolute;
  right:0px;
}

